@import '../variables';

.main {

    flex-direction: column;
    p {
        max-width: 40rem;
        line-height: 2;
        font-size: 1.25rem;
        opacity: 0.8;
    }
    h1 {
        padding-top: 1rem;
        font-size: 52px;
        font-weight: 500;
    }

    h3 {
        margin-top: -2.5rem;
    }
    .container {
        position: fixed;
        bottom: -15%; right: -5%;
        opacity: 0.75;
    }
    
    .backdrop {
        -webkit-user-drag: none;
    }

    .headline {
        font-size: 1.5rem;
    }
    
    .link {
        font-weight: 600;
        color: $clr-primary-body;
        text-decoration: none;
        background-color: #12141e;
        padding: 0.25rem;
        border-radius: 0.5rem;
        transition-duration: 0.3s;
        
        &:hover {
            background-color: #191c29;
        }
    }
    
    .block {
        display: inline-block;
        margin-right: 1rem;
    }
    
    .row {
        
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        max-width: 75ch;
        padding-bottom: 0.5rem;

        .tag {
            @include Tag;
        }
    }

    @keyframes comet {
        0% {
            top: 30%; right : 50%; bottom: 50%; left: 10%; width: 7.5rem; opacity: 0;
        }
        50% {
            opacity: 0.4;
        }
        100% {
            top: 50%; right: 0%; bottom: 75%; left: 0%; width: 3rem; opacity: 0;
        }
    }

    .comet {

        animation: comet 3s;
        animation-delay: 5s;
        animation-iteration-count: 10;
        height: 1px;
        position: fixed;
        opacity: 0.5;
        background: white;
        background: linear-gradient(135deg, $clr-primary-body 0%, rgba(255, 255, 255, 0) 100%);
        transform: rotate(-45deg);
    }

}