@import '../variables';

.home {
    @include Gradient;
    opacity: 0.8;
    font-family: $txt-primary;
    font-size: 1.05rem;
    text-decoration: none;
    transition-duration: 0.3s;

    &:hover {
        opacity: 0.3;
    }
}