@import '../variables';

.icons {
    @include Background;
    z-index: 3;
    padding: 1rem;
    position: fixed;
    bottom: 0; right: 0;
    opacity: 0.75;
    @include MobileHide;
}

.icon {
    
    margin: 2rem;
    border-radius: 0.5rem;
    transition-duration: 0.3s;

    &:hover {
        opacity: 0.4;
        transform: translateX(-0.25rem);
    }
}