@import '../variables';

.parent {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 5rem;
   grid-row-gap: 0;

   @media screen and (max-width: 801px) {
      display: block;
   }
}

.title {
   padding-bottom: 2rem;

   h1 {
      padding-top: 1rem;
      font-size: 52px;
      font-weight: 500;
   }
   
   h2 {
      margin-top: 2rem;
   }

   h3 {
      margin-top: -2.5rem;
   }
}

.main {
   font-family: $txt-primary;
   flex-direction: column;
   grid-area: 1 / 1 / 2 / 2;
   
   p {
      font-size: 1.25rem;
      opacity: 0.8;
   }

   .long {
      max-width: 40rem;
      line-height: 2;
   }

   .short {
      font-weight: 700;
      padding-bottom: 1.5rem;

      &::before {
         padding-right: 1rem;
         content: '✦';
      }
   }

   .list {
      margin-top: -0.3rem;
   }


   .block {
      display: inline-block;
      margin-right: 1rem;
   }

   display: grid;

}

.container {
   grid-area: 1 / 2 / 2 / 3;
   width: 100%;
}

.image {
   border-radius: 2rem;
   transition-duration: 0.2s;
   margin-bottom: 2rem;

   object-fit: contain;
   width: 100%;
   position: relative;
   height: unset;
}

.link {
   text-decoration: none;
   color: $clr-primary-body;
}

.next {
   margin-top: 2.5rem;
   background: #080a13;
   border-radius: 3rem;

   justify-content: center;
   align-items: center;
   padding: 5%;
   display: flex;
   flex-direction:column;
   text-align: center;

   transition-duration: 0.25s;
   cursor: pointer;

   h3 {
      margin-bottom: -0.5rem;
      transition-duration: 0.25s;
   }
   h2 {
      transition-duration: 0.25s;
   }

   &:hover {
      background: #0b0d18cf;
   }

   &:hover h3, &:hover h2 {
      transition-duration: 0.25s;
      transform: scale(1.1);
   }

   &:active {
      background: #080a13cb;
      transform: scale(0.9);
   }
}
