@mixin Debug {
    border: 1px dashed rgb(255, 56, 149); border-radius: 0;
}

@mixin Center {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin Link {
    text-decoration: none;
    user-select: none;

    &:hover {
        opacity: 0.5;
    }
}

@mixin MobileHide {
    @media screen and (max-width: 801px) {
        display: none;
    }
}

@mixin Spacing {

    padding-top: 13.5rem;
}

@mixin mainHeading {
    font-size: 45px;
    font-weight: normal;
    font-family: $txt-secondary;
    color: $clr-primary-body;
}

@mixin Tag {
    font-family: $txt-secondary;
    background-color: rgba(189, 186, 221, 0.030);
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    user-select: none;
    
}

@mixin Gradient {
    background: #8DC4E9;
    background: $clr-gradient;
    background-clip: text;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    transition-duration: 0.3s;
}

@mixin Background {
    background: rgba(0, 0, 0, 0.1);
}

$clr-background: #060810;
$clr-gradient: linear-gradient(90deg, #efd5ff 0%, #7278ca 100%);
$clr-primary-body: #c8d7e6;
$clr-navbar-border: #7cafd10a;

$txt-primary: 'Space Grotesk', sans-serif;
$txt-secondary: 'Space Mono',monospace;